ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: rgb(128, 220, 248);
}
body {
  background-color: rgb(191, 231, 245)
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  background-image: url('istockphoto-1268228632-612x612.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;

}
#nix {
  text-decoration: none;
  color: #007bff;
}
p {
  font-size: 26px
}
@media (max-width: 800px) {
    ul.nav {
        flex-direction: column; 
        align-items: center; 
    }
}



